.form {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

@media screen and (max-width: 767px) {
    .form {
        flex-direction: column-reverse;
        align-items: center;
    }
  }