.men__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 135%;
  max-width: 420px;
  margin: 28px 0 122px 68px;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .men__title {
    margin-bottom: 70px;    
    font-size: 24px;
    max-width: 320px;
  }
}

@media screen and (max-width: 424px) {
  .men__title {
    margin: 30px 0 40px 50px;
  }
}
