.men__title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.35;
  max-width: 420px;
  margin: 32px 0 115px 68px;
}

@media screen and (max-width: 767px) {
  .men__title {
    margin-bottom: 70px;    
    font-size: 24px;
    max-width: 320px;
  }
}

@media screen and (max-width: 424px) {
  .men__title {
    margin: 30px 0 40px 50px;
  }
}
