.men {
    display: flex;
    flex-direction: column;
    margin: 126px auto 102px;

}

@media screen and (max-width: 767px) {
    .men {
        margin: 85px auto 60px;
    }
  }

  @media screen and (max-width: 424px) {
    .men {
        margin: 50px auto;
    }
  }
