.header__link {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: bold;
  display: block;
}
.header__link:hover {
  text-decoration: underline
}

@media screen and (max-width: 424px) {
  .header__link {
    align-self: flex-start;
  }
}