.form__image {
    max-width: 640px;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1023px) {
    .form__image {
        max-width: 450px;
    }
  }

@media screen and (max-width: 767px) {
    .form__image {
        max-width: 100vw;
    }
  }
