.intro__caption {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 2px;
  color: rgb(254,211,178);
  margin-bottom: 28px;
  text-transform: uppercase;
  margin-top: 110px;
}

@media screen and (max-width: 1023px){
  .intro__caption {
    margin-top: 55px;
  }
}

@media screen and (max-width: 767px){
  .intro__caption {
    margin-top: 10px;
    font-size: 8px;
    margin-bottom: 15px;
  }
}